
@media (width <= 380px) {
    .mobile-hide {
        display: none;
    }
    .card {
        border-radius: 3px;
    }
    .landing-banner {
        .text-wrapper {
            bottom: 0px;
            left: 0px;
            width: 100%;
            transform: none;
        }
    }
}

@media (width <= 670px) {
    .main-nav {
        flex-wrap: wrap;
        &__links {
            max-width: 100%;
            flex: 0 0 100%;
            order: 3;
            flex-direction: column;
            border-bottom: 1px solid rgb(27, 27, 27); 
            background-color: rgba(41, 41, 41, 0.5);
            // padding: 21px 0px;
            transition: height 0.55s ease-in-out;
            overflow: hidden;
            // display: none;
            .menu-link {
                margin: 8px;
            }
            &.is-disabled {
                height: 0px;
            }
        }
        &__burger {
            order: 2;
            display: flex;
            &:hover {
                background-color: rgb(255, 115, 0);
            }
        }
    } 
}

// @media (width <= 680px) {
    
// }

// @media (max-width: 380px) and (max-height: 600px) {
//     .mobile-hide {
//         display: none;
//     }
//     .card {
//         border-radius: 3px;
//     }
//     .landing-banner {
//         .text-wrapper {
//             bottom: 0px;
//             left: 0px;
//             width: 100%;
//             transform: none;
//         }
//     }
// }




// @media (min-width: 2000px) {
//     .card {
//         border-radius: 34px;
//     }
// }